.choice-container{
    display: flex;
    margin-bottom: 0.5rem;
    width: 100%;
    font-size: 1.8rem;
    border: 0.1rem solid rgba(55, 79, 117 0.3);
    background-color: rgb(185, 149, 123);
    border-radius: 35% 8%;
}
.choice-container:hover{
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(55, 79, 117);
    transform: translateY(-0.2rem);
    transition: transform 150ms;
}
.choice-prefix{
    padding:1.5rem 2.5rem;
    background-color: rgba(55, 79, 117); 
    color: beige;
    border-radius: 85% 10%;
}
.choice-text{
    padding: 1.3rem;
    width: 100%;
}
.correct {
    background-color: green;
}
.incorrect{
    background-color: red;
}

/*headsupdisplay*/

#hud {
    display:flex;
    justify-content: space-around;
}
.hud-prefix {
    text-align: center;
    font-size: 3rem;
}
 